################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App/Data/obj/Debug
/App/DpoCmd/obj/Debug
/App/Executable/obj/x86/Debug
/App/PTA/obj/Debug
/App/Stock/obj/Debug
/App/Testing/obj/x86/Debug
/App/X12/obj/x86/Debug
/Sys/Workflow/obj/Debug
/Sys/agsxmpp.ui/obj/Debug
/Sys/BusinessRules/obj/Debug
/Sys/Core/obj/Debug
/Sys/Data/obj/Debug
/Sys/DataManager/obj/Debug
/Sys/Foundation/obj/Debug
/Sys/Messaging/obj/Debug
/Sys/Network/obj/Debug
/Sys/Platform/obj/Debug
/Sys/SmartList/obj/Debug
/Sys/ViewManager/obj/Debug
/Console/SqlCompare/obj/Debug
/Console/SqlCompare/bin/Debug
/App/DpoCmd/bin/Debug
/App/Executable/bin/Debug
/App/Stock/bin/Debug
/App/Testing/bin/Debug
/Sys/PersistentObjects/obj/Debug
/App/Data/bin/Debug
/Sys/Data/bin/Debug
/Sys/DataManager/bin/Debug
/Sys/Foundation/bin/Debug
/Sys/Messaging/bin/Debug
/Sys/PersistentObjects/bin/Debug
/Sys/Platform/bin/Debug
/Sys/SmartList/bin/Debug
/Sys/ViewManager/bin/Debug
/Sys/Workflow/bin/Debug
/App/X12/bin/Debug
/App/PTA/bin/Debug
/Sys/BusinessRules/bin/Debug
/Console/sqlcon/obj/Debug
/Console/sqlcon/bin/Debug/atms
/Console/sqlcon/bin/Debug
*.dll
*.pdb
*.suo
*.user
