<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="output" value="compare.sql"/>
        
        <add key="medsys" value="data source=localhost\sqlexpress;initial catalog=medsys;integrated security=SSPI;packet size=4096"/>
        <add key="northwind" value="data source=localhost\sqlexpress;initial catalog=northwind;integrated security=SSPI;packet size=4096"/>
        <add key="ip114" value="data source=192.168.104.114,1433\MSSQLSERVER;initial catalog=ATMS_4_5;User Id=sa;Password=naztec"/>
        <add key="localhost" value="data source=localhost\sqlexpress;initial catalog=ATMS_4_5;integrated security=SSPI;packet size=4096"/>
        <add key="palmdemo" value="data source=192.168.104.2;initial catalog=palmdemo;User Id=sa;Password="/>
        <add key="ab" value="data source=192.168.104.190,1433\SQLEXPRESS;initial catalog=ATMS_4_5;User Id=sa;Password=naztec"/>
        <add key="ip128" value="data source=192.168.104.128,1433\SQLEXPRESS;initial catalog=ATMS_4_5;User Id=sa;Password=naztec"/>
        
        <add key="server1" value="localhost"/>
        <add key="server2" value="ip114"/>
        <add key="db1" value="ATMS_4_5"/>
        <add key="db2" value="ATMS_4_5"/>
        <add key="compareschema" value="true"/>
    </appSettings>
</configuration>
